body {
    display: flex;
    flex-direction: column;
    background-image: url("imgs/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    height: auto;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

a {
    text-decoration: none;
    border: 2px solid black;
    border-radius: 8px;
    padding: 8px;
    background-color: rgba(225, 225, 221, 0.7);
  }

a:link, a:visited, a:hover, a:active {
    color: black;
  }

.head {
    font-size: 32px;
    background-color: rgba(225, 225, 221, 0.7);
    text-align: center;
    margin-bottom: 16px;
    padding: 16px 0;
    border-bottom: 4px solid black;
}

.main {
    text-align: center;
    font-size: 24px;
}

li {
    display: flex;
    justify-content: center;
}